.demoForm {
  padding-top: 88px;
}

.sectionTitle {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #222B45;
}

.discription {
  margin: 0 auto;
  margin-top: 29px;
  width: 521px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
}

.formWrap {
  margin: 0 auto;
  width: 730px;
  box-shadow: 20px 30px 60px rgba(34, 43, 69, 0.1);
  border-radius: 0px 0px 10px 10px;
}

.formTitle {
  margin: 0 auto;
  margin-top: 45px;
  padding: 20px 0;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  background: #338DC6;
  border-radius: 10px 10px 0px 0px;
}

.form {
  padding: 0 0 40px 0;
  margin: 0 auto;
  margin-bottom: 51px;
}

.subtitle {
  margin-top: 30px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #222B45;
}

.subtitle:nth-child(3) {
  margin-top: 10px;
}

.subtitle:nth-child(5) {
  margin-top: 8px;
}

.block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 32px;
  width: 640px;
}

.block:nth-child(7) {
  margin-top: 15px;
  flex-wrap: nowrap;
}

.block:nth-child(9) {
  margin-top: -10px;
  margin-bottom: 5px;
}

.shortWrap {
  position: relative;
  width: 310px;
}

.confirmation {
  width: 609px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #9095A2;
}

.line {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background: #F4F4F6;
}

.conditions {
  margin-top: 50px;
  width: 387px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #5F6875;
}

.conditions a {
  font-weight: 500;
  color: #0071B8;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 70px;
  padding: 18px;
  width: 240px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  background: #0071B8;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1359px) {
  .demoForm {
    padding-top: 95px;
  }
  .sectionTitle {
    font-size: 32px;
  }
  .discription {
    margin-top: 26px;
    width: 521px;
    font-size: 15px;
  }
  .formWrap {
    width: 690px;
  }
  .formTitle {
    margin-top: 45px;
    padding: 17px 0;
    font-size: 20px;
  }
  .subtitle {
    margin-top: 40px;
    font-size: 18px;
  }
  .subtitle:nth-child(5) {
    margin-top: 10px;
  }
  .block {
    margin-top: 30px;
    width: 630px;
  }
  .block:nth-child(4) {
    margin-top: 31px;
  }
  .block:nth-child(6) {
    margin-top: 30px;
  }
  .block:nth-child(7) {
    margin-top: 17px;
  }
  .shortWrap {
    width: 305px;
  }
  .confirmation {
    width: 599px;
    font-size: 14px;
  }
  .line {
    margin-top: 40px;
  }
  .conditions {
    margin-top: 51px;
    font-size: 12px;
  }
  .btn {
    margin-top: 50px;
    margin-left: 65px;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .demoForm {
    padding-top: 50px;
  }
  .sectionTitle {
    font-size: 22px;
  }
  .discription {
    margin-top: 20px;
    width: 335px;
    font-size: 12px;
  }
  .formWrap {
    width: 335px
  }
  .formTitle {
    margin-top: 27px;
    font-size: 16px;
  }
  .subtitle {
    margin-top: 20px;
    font-size: 15px;
  }
  .subtitle:nth-child(5) {
    margin-top: 10px;
  }
  .block {
    margin-top: 18px;
    width: 305px;
  }
  .block:nth-child(4) {
    margin-top: 20px;
  }
  .block:nth-child(6) {
    margin-top: 21px;
  }
  .block:nth-child(7) {
    margin-top: 13px;
  }
  .block:nth-child(9) {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .shortWrap {
    width: 100%;
  }
  .confirmation {
    width: 276px;
    font-size: 11px;
  }
  .line {
    margin-top: 26px;
  }
  .btn {
    margin-top: 34px;
    margin-left: 0;
    padding: 13px;
    width: 100%;
    font-size: 14px;
  }
  .conditions {
    margin-top: 20px;
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
}