.block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 32px;
  width: 640px;
}

.largeWrap {
  position: relative;
  width: 100%;
}

.shortWrap {
  position: relative;
  width: 310px;
}

.item {
  margin-bottom: 20px;
  width: 100%;
  height: 56px;
  padding-top: 11px;
  padding-left: 19px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  background: #F8F9F9;
  border: 1px solid #F4F4F6;
  box-sizing: border-box;
  border-radius: 5px;
}

.indicator {
  margin-right: 10px;
}

.item:focus {
  border: 2px solid #66aad4;
  outline: none;
}

.item::placeholder {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4E556A;
}

.fieldError {
  border: 2px solid #F77F82;
}

.textError {
  color: #F77F82;
}

.selectPlaceholder {
  padding-left: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4E556A;
}

.label {
  position: absolute;
  top: 18px;
  left: 21px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #4E556A;
}

@keyframes moveLabel {
  from {
    top: 18px;
    font-size: 15px;
  }
  to {
    top: 7px;
    font-size: 10px;
  }
}

input:focus+label, input:not(:placeholder-shown)+label {
  top: 7px;
  font-size: 10px;
  font-weight: 400;
  animation: moveLabel 0.3s ease-in;
}

::-webkit-input-placeholder {
  opacity: 0;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
}

.areaItem {
  padding-top: 14px;
  padding-left: 16px;
  height: 105px;
  resize: none;
}

.error {
  position: absolute;
  top: 56px;
  left: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  color: #F22A2E;
}

@media screen and (min-width: 768px) and (max-width: 1359px) {
  .shortWrap {
    width: 305px;
  }
  .item {
    margin-bottom: 20px;
    height: 56px;
  }
  .label {
    top: 19px;
    left: 21px;
    font-size: 15px;
  }
  .areaItem {
    height: 94px;
  }
}

@media screen and (max-width: 767px) {
  .shortWrap {
    width: 100%;
  }
  .item {
    margin-bottom: 10px;
    height: 45px;
  }
  .label {
    top: 13px;
    left: 15px;
    font-size: 14px;
  }
  .areaItem {
    height: 125px;
  }
}